/* Generic admin CSS */

.print * { text-shadow: none !important; }
.print .nav .hash-icon { display: none; }
.print .navbar .brand { color: #000; }
.print .navbar .brand.subtitled span { color: #444; }
.print .navbar-inner { background: transparent; border: none; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; }
.print .spinner-img { display: none !important; }

.main.container-fluid { padding-bottom: 70px; }
.global-actions { float: right; margin-top: 3px; }
#headers .select, #table-container .select { width: 15px; }
.form-title { margin-bottom: 0; }
input.error, textarea.error, select.error, input.validation-failed, select.validation-failed, textarea.validation-failed { border-color: #EE5F5B; }
.controls textarea { width: 600px; height: 300px; }
textarea.big { width: 100%; height: 300px; }
.mceToolbar table { width: auto; }
.mceToolbar table td { text-align: start; vertical-align: middle; }
.help-inline { color: #999; }
.onhover { display: none; }
.popover .close { margin-top: -3px; }

.footer.container-fluid { position: fixed; left: 0; bottom: 0; width: 100%; background: #fff; padding: 0; }
.footer > div { padding-left: 20px; padding-right: 20px; }
.footer .pagination { margin: 15px 0; }